/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 6, 2020, 4:46:47 AM
    Author     : M15309
*/
body{
  background-image: url("./img/23.jpg");
  background-size: 100% 720px;

}
.Container{
  width: 200px;
  height: 150px;
  text-align: center;
  background-color: #D48473;
  margin: auto;
  margin-top: 100px;

}
input{
  color: #E74C3C;
  background-color: #ECF0F1  ;
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 12px 12px 12px 12px;

}
label{
  margin-top: 20px;
  padding: 12px 12px 12px 12px;
  display: inline-block;
}
 .button {
   background-color: #2E4053; /* Blue*/
     border: none;
     color: white;
     padding: 15px 15px 15px 15px; ;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 20px;
     margin:10px 2px;
     cursor: pointer;
     border: 1px solid #ccc;
     border-radius: 4px;
}
.input
{
  width: 400px;
  height: 250px;
  text-align: center;
  background-color:darkcyan;  ;
  margin: 0 auto;
  margin-top: 100px;
}




