/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 6, 2020, 4:49:07 AM
    Author     : M15309
*/
body{
  background-image: url("./img/25.jpg");
  background-size: 100% 720px;
}
input[type=text],
input[type=file],
input[type=password]{
  color: #E74C3C;
  margin-top: 15px;
  float: right;
  margin-right:  30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px 8px 8px 8px;

}

label{
  margin-top: 10px;
  margin-left: 25px;
  padding: 8px 8px 8px 8px;
  display: inline-block;
}
textarea
{
  float: right;
  margin-right: 30px;
}

.abc{
  width: 450px;
  height: 300px;
  /*text-align: center;*/
  background-color:#E5E7E9   ;
  margin: 0 auto;
  margin-top: 40px;
}
.table{
  width: 400px;
  height: 200px;
  margin-top: 20px;
  background-color:#DDA0DD ;
  text-align: center;
  color:black;
  margin: 0 auto;
}
.button {
  background-color: #FF5733;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin:4px 2px;
    cursor: pointer;
}
